@media screen and (max-width: 768px) {
  /* html {
    scroll-behavior: smooth;
  } */

  .cd-section {
    height: auto;
  }

  .cd-section > div {
    height: auto;
  }

  .cd-vertical-nav {
    display: none;
  }

  .content {
    position: static;
    width: 100%;
    height: 100%;
  }

  /* Home */
  .home__inner {
    height: 100vh;
  }

  .home__intro-text {
    width: 100%;
    font-size: 40px;
  }

  .home__intro-text span {
    font-size: 20px;
  }

  .home__heading {
    margin-left: 6%;
  }

  .home__heading span {
    font-size: 48px;
  }

  /* About */
  .about__inner {
    background: #0dace3;
    height: auto;
    padding: 5%;
  }

  .about__list {
    position: static;
    width: 100%;
    transform: none;
  }

  .about__item {
    flex-direction: column;
    text-align: center;
  }

  .about__img {
    margin-right: 0;
  }

  /* Project */
  .project__inner {
    height: auto;
  }

  .project__tab {
    flex-direction: column;
    margin: 15px 0;
  }

  .project__info-box,
  .project__photo {
    width: 100%;
  }

  .project__info-box {
    padding: 5%;
  }

  .project__btn-view {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .project__tab-menu {
    bottom: 5px;
    width: 100%;
    text-align: center;
  }

  /* Plan */
  .plan__inner {
    height: auto;
    padding: 5%;
  }

  .plan__feature {
    position: static;
    width: 100%;
    transform: none;
  }

  .plan__box {
    height: auto;
  }
  
  .plan__info {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .plan__text-area {
    width: 100%;
    padding-right: 0;
  }

  .plan__img-area {
    width: 100%;
  }

  .paln__img {
    width: 100%;
    height: auto;
  }

  /* Awards */
  .awards__inner {
    flex-direction: column;
    height: auto;
    border: none;
  }

  .awards__text-area {
    padding: 10% 0;
  }

  .awards__box {
    width: 100%;
  }

  .awards__heading {
    width: 100%;
    padding: 5%;
  }

  .awards__img {
    width: 100%;
  }

  /* Location */
  .location__inner {
    height: auto;
  }

  .location__feature {
    position: relative;
    top: auto;
    left: auto;
    flex-direction: column;
    width: 100%;
    padding: 5%;
    transform: none;
  }

  .location__office,
  .location__service {
    width: 100%;
    padding-right: 0;
  }

  /* Contact */
  .contact__inner {
    height: auto;
  }

  .contact__feature {
    position: static;
    width: 100%;
    flex-direction: column;
    transform: none;
  }

  .conatct__feature-item {
    width: 100%;
  }


  /* Header */
  .header {
    /* width: 100vw; */
  }

  .gnb {
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -270px;
    width: 250px;
    height: 100vh;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
  }

  .gnb.active {
    right: 0;
  }

  .gnb__menu {
    display: block;
    margin-top: 60px;
    text-align: right;
    line-height: 40px;
  }

  .gnb__link-menu {
    display: block;
    padding-right: 20px;
    color: #000;
    font-size: 18px;
  }

  .gnb__slogan {
    display: none;
  }

  /* Trigger */
  .menu-trigger {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 24px;
    height: 14px;
  }
  
  .menu-trigger span {
    background-color: #000;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    transition: 0.5s;
  }

  .menu-trigger span:nth-child(1) {
    top: 0;
  }

  .menu-trigger span:nth-child(2) {
    top: 50%;
    width: 80%;
  }

  .menu-trigger span:nth-child(3) {
    top: 100%;
  }

  .menu-trigger.active span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }
  
  .menu-trigger.active span:nth-child(2) {
    opacity: 0;
  }
  
  .menu-trigger.active span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
  }

  /* Button - Go To Top */
  .btn-top {
    position: fixed;
    left: 20px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    transform: translateY(30px);
    transition: 0.5s;
  }

  .btn-top.active {
    opacity: 1;
    transform: translateY(0);
  }

  /* Button - Hiring */
  .btn-hiring {
    right: 20px;
    bottom: 20px;
  }

  /* SubPage - Hiring */
  .hiring__header-inner {
    height: 65px;
    line-height: 65px;
  }

  .hiring__main {
    padding: 65px 0;
  }

  .hiring__title {
    font-size: 40px;
  }

  .hiring__article {
    flex-direction: column;
  }

  .hiring__area {
    width: 100%;
    height: auto;
  }
  
  .hiring__info {
    width: 100%;
    padding: 0 5%;
  }

  .hiring__slogan {
    padding: 95px 0;
  }

  .hiring__slogan-text {
    width: 85%;
    font-size: 20px;
  }

  .hiring__slogan-text::before {
    top: -55px;
    left: -17px;
    font-size: 150px;
    z-index: -1;
  }

  .hiring__contact-info {
    flex-direction: column;
  }

  .hiring__contact:first-child {
    margin-bottom: 25px;
  }

  /* Featherlight Custom CSS */
  .featherlight .featherlight-content {
    padding: 0;
  }

  .featherlight .featherlight-close-icon {
    top: 23px;
    right: 20px;
    font-size: 25px;
  }
}