/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Manrope:300,400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

/* Reset CSS */
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* Default CSS */
body {
  background-color: #fff;
  height: 100vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #222;
  font-size: 15px;
}

/* Layout */
.cd-section {
  height: 100vh;
}

.cd-section > div {
  position: relative;
  height: 100%;
}

.content {
  background-color: #ddd;
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 80px);
}

/* About */
.about__inner {
  background: #0dace3 url(../images/line-drawing.png) no-repeat right bottom;
  position: relative;
  height: 100%;
}

.about__list {
  position: absolute;
  top: 50%;
  left: 120px;
  transform: translateY(-50%);
  width: 60%;
}

.about__item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: #fff;
}

.about__img {
  height: 120px;
  margin-right: 20px;
  filter: invert(1);
  transition: 0.5s;
}

.about__item:hover .about__img {
  filter: invert(0);
}

.about__main-text {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: -1px;
  transition: 0.5s;
}

.about__item:hover .about__main-text {
  color: #000;
}

.about__desc {
  font-size: 18px;
}

/* Awards */
.awards__inner {
  display: flex;
  height: 100%;
  border: 1px solid #ddd;
}

.awards__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.awards__text-area {
  background-color: #1a1f24;
}

.awards__heading {
  width: 70%;
  text-align: center;
}

.awards__title {
  color: #fff;
}

.awards__bar {
  background-color: crimson;
  width: 50px;
  height: 4px;  
  margin: 30px auto;
  border: none;
}

.awards__desc {
  color: #999;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.awards__link-view {
  padding: 5px 15px;
  color: #bbb;
  text-transform: uppercase;
  border: 1px solid #bbb;
  border-radius: 20px;
  transition: 0.5s;
}

.awards__link-view:hover {
  background-color: #31c0ce;
  color: #fff;
  border-color: transparent;
}

.awards__img-area {
  background-color: #fff;
}

.awards__img {
  width: 80%;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid transparent;
  z-index: 1;
  transition: 0.6s;
}

.header.active {
  background-color: #fff;
  border-color: #eee;
}

.header__inner {
  width: calc(100% - 40px);
  height: 60px;
  margin: 0 auto;
  line-height: 60px;
  overflow: hidden;
}

.logo {
  float: left;
  line-height: 60px;
}

.logo__img {
  vertical-align: sub;
}

.gnb {
  float: right;
}

.gnb__menu {
  display: none;
}

.gnb__slogan {
  font-size: 18px;
  font-style: italic;
}

.menu-trigger {
  display: none;
}

/* Button - Go To Top */
.btn-top {
  opacity: 0;
}

/* Button - Hiring */
.btn-hiring {
  background-color: #000;
  position: fixed;
  right: 50px;
  bottom: 50px;
  padding: 10px 20px;
  color: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.btn-hiring:active {
  transform: scale(0.8);
}

.btn-hiring .fas {
  transform: rotateY(180deg);
  margin-right: 8px;
}