/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Manrope:300,400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

/* Reset CSS */
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

/* Default CSS */
body {
  background-color: #fff;
  height: 100vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #222;
  font-size: 15px;
}

.bar {
  width: 50px;
  height: 4px;  
  margin: 30px auto;
  border: none;
}

/* Layout */
.cd-section {
  height: 100vh;
}

.cd-section > div {
  position: relative;
  height: 100%;
}

.content {
  background-color: #ddd;
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 80px);
}

/* Home */
.home__inner {
  background-color: #fff;
  position: relative;
  height: 100%;
}

.home__inner::before {
  content: "";
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  animation: overlay 0.6s 2.1s ease-in-out both;
}

.home__intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
  transform: translate(-50%, -50%);
  animation: slide-up 1.8s 0.5s linear both;
}

.home__intro-text span {
  display: block;
  font-size: 22px;
}

.home__intro-text .fas {
  color: crimson;
}

.home__bg {
  background: url(./../images/section-bg-01.jpg) no-repeat center center/cover;
  height: 100%;
  animation: opacity-image 1s 2.3s ease-in both;
}

.home__heading {
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 250px;
  transform: translateY(-50%);
}

.home__heading span {
  display: block;
  color: #fff;
  font-size: 115px;
  overflow: hidden;
  animation: reveal 0.6s 2.8s ease-in both;
}

.home__heading span:nth-child(2) {
  animation-delay: 3s;
}

.home__heading span:nth-child(3) {
  animation-delay: 3.2s;
}

/* About */
.about__inner {
  background: #0dace3 url(../images/line-drawing.png) no-repeat right bottom;
  position: relative;
  height: 100%;
}

.about__list {
  position: absolute;
  top: 50%;
  left: 120px;
  transform: translateY(-50%);
  width: 60%;
}

.about__item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: #fff;
}

.about__img {
  height: 120px;
  margin-right: 20px;
  filter: invert(1);
  transition: 0.5s;
}

.about__item:hover .about__img {
  filter: invert(0);
}

.about__main-text {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: -1px;
  transition: 0.5s;
}

.about__item:hover .about__main-text {
  color: #000;
}

.about__desc {
  font-size: 18px;
}

/* Project */
.project__inner {
  background-color: #fff;
  position: relative;
  height: 100%;
  border: 1px solid #ddd;
  overflow: hidden;
}

input[name=tabmenu] {
  display: none;
}

.project__list {
  display: flex;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

#tab1:checked ~ .project__list {
  margin-left: 0;
}

#tab2:checked ~ .project__list {
  margin-left: -100%;
}

#tab3:checked ~ .project__list {
  margin-left: -200%;
}

.project__tab {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.project__info-box {
  position: relative;
  width: 25%;
  padding: 50px;
}

.project__info-box::before {
  content: attr(data-text);
  position: absolute;
  top: -20px;
  left: 10px;
  font-size: 130px;
  color: #eee;
}

.project__name {
  position: relative;
  font-size: 20px;
}

.project__desc {
  position: relative;
  font-size: 16px;
  line-height: 1.6;
}

.project__info {
  line-height: 2;
  margin: 40px 0;
}

.project__info-item::before {
  content: "\f105";
  margin-right: 8px;
  font-family: fontawesome;
}

.project__detail {
  display: flex;
  margin-bottom: 40px;
}

.project__detail-item {
  width: 33.3333%;
  text-align: center;
  color: #999;
}

.project__detail-item span {
  display: block;
  margin-bottom: 8px;
  color: #000;
  font-size: 36px;
  font-weight: bold;
}

.project__btn-view {
  background-color: #3f3f3f;
  padding: 10px 60px 10px 50px;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  transition: 0.5s;
}

.project__btn-view::after {
  content: "\f061";
  font-family: fontawesome;
  position: relative;
  left: 10px;
  transition: 0.5s;
}

.project__btn-view:hover::after {
  left: 20px;
}

.project__btn-view:hover {
  background-color: #000;
}

.project__photo {
  width: 75%;
  overflow: hidden;
}

.project__tab-menu {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 25%;
  text-align: center;
}

.project__btn-tab {
  background-color: #222;
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 7px;
  border-radius: 50%;
  text-indent: -9999px;
  cursor: pointer;
}

.project__btn-tab::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid #bbb;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s;
}

.project__btn-tab:hover::before,
#tab1:checked ~ .project__tab-menu .project__btn-tab[for=tab1]::before, 
#tab2:checked ~ .project__tab-menu .project__btn-tab[for=tab2]::before, 
#tab3:checked ~ .project__tab-menu .project__btn-tab[for=tab3]::before {
  transform: translate(-50%, -50%) scale(1);
}

/* Plan */
.plan__inner {
  background-color: #1d1b24;
  height: 100%;
}

.plan__feature {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  color: #bbb;
  transform: translate(-50%, -50%);
}

.plan__box {
  height: 300px;
}

.plan__title {
  color: #fff;
  font-weight: 500;
}

.plan__info{
  display: flex;
  align-items: center;
}

.plan__text-area {
  width: 70%;
  padding-right: 70px;
}

.plan__inner .bar {
  background-color: #1e90ff;
  display: inline-block;
}

.plan__desc{
  font-size: 16px;
  line-height: 1.5;
}

.plan__img-area {
  width: 30%;
}

.paln__img {
  height: 250px;
}

.history-slide__main-text {
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.3;
}

.history-slide__main-text span {
  color: #1e90ff;
}

.history-slide__desc {
  font-size: 16px;
  line-height: 1.5;
}

.history-slide .slick-dots li {
  margin: 0;
}

.history-slide .slick-dots li button::before {
  color: #fff;
  font-size: 40px;
}

/* Awards */
.awards__inner {
  display: flex;
  height: 100%;
  border: 1px solid #ddd;
}

.awards__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.awards__text-area {
  background-color: #1a1f24;
}

.awards__heading {
  width: 70%;
  text-align: center;
}

.awards__title {
  color: #fff;
}

.awards__inner .bar {
  background-color: crimson;
}

.awards__desc {
  color: #999;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.awards__link-view {
  padding: 5px 15px;
  color: #bbb;
  text-transform: uppercase;
  border: 1px solid #bbb;
  border-radius: 20px;
  transition: 0.5s;
}

.awards__link-view:hover {
  background-color: #31c0ce;
  color: #fff;
  border-color: transparent;
}

.awards__img-area {
  background-color: #fff;
}

.awards__img {
  width: 80%;
}

/* Location */
.location__inner {
  background: url(../images/background-location.jpg) no-repeat center center;
  height: 100%;
}

.location__inner::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.location__feature {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  display: flex;
  color: #bbb;
  transform: translate(-50%, -50%);
}

.location__office {
  width: 60%;
  padding-right: 100px;
}

.location__ofiice-item {
  margin-bottom: 40px;
}

.location__title {
  margin-top: 5px;
  color: #1db1f0;
  font-weight: 500;
}

.location__desc {
  font-size: 16px;
  line-height: 1.5;
}

.location__info {
  color: #fff;
}

.location__service {
  width: 40%;
}

.location__service-item {
  margin-bottom: 30px;
}

.location__service-item .fas {
  color: #1db1f0;
  font-size: 35px;
}

.location__service-name {
  color: #fff;
  font-size: 22px;
  margin-top: 8px;
}

/* Contact */
.contact__inner {
  background-color: #fff;
  height: 100%;
  border: 1px solid #ddd;
}

.contact__feature {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  width: 70%;
  transform: translate(-50%, -50%);
}

.conatct__feature-item {
  width: 50%;
  padding: 20px;
}

.contact__title {
  font-size: 30px;
  font-weight: normal;
}

.contact-form__title {
  display: block;
  font-weight: bold;
  margin: 18px 0 10px;
}

.contact-form__title span {
  color: crimson;
  font-weight: normal;
}

.contact-form__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  transition: 0.5s;
}

.contact-form__input:hover {
  border: 1px solid #0088cc;
  box-shadow: 0 0 8px rgba(0, 136, 204, 0.5);
}

.contact-form__input:focus {
  background-color: #eee;
}

.contact__btn-send {
  background-color: #0088cc;
  padding: 12px 20px;
  margin-top: 15px;
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  transition: 0.5s;
}

.contact__btn-send:hover {
  background-color: #000;
}

.contact__info-item {
  margin-bottom: 10px;
}

.contact__info .contact__title {
  font-size: 20px;
}

.contact__text {
  margin: 15px 0;
}

.contact__text:last-child:not(.last) {
  color: #0088cc;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid transparent;
  z-index: 1;
  transition: 0.6s;
}

.header.active {
  background-color: #fff;
  border-color: #eee;
}

.header__inner {
  width: calc(100% - 40px);
  height: 60px;
  margin: 0 auto;
  line-height: 60px;
  overflow: hidden;
}

.logo {
  float: left;
  line-height: 60px;
}

.logo__img {
  vertical-align: sub;
}

.gnb {
  float: right;
}

.gnb__menu {
  display: none;
}

.gnb__slogan {
  font-size: 18px;
  font-style: italic;
}

.menu-trigger {
  display: none;
}

/* Button - Go To Top */
.btn-top {
  opacity: 0;
}

/* Button - Hiring */
.btn-hiring {
  background-color: #000;
  position: fixed;
  right: 50px;
  bottom: 50px;
  padding: 10px 20px;
  color: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.btn-hiring:active {
  transform: scale(0.8);
}

.btn-hiring .fas {
  transform: rotateY(180deg);
  margin-right: 8px;
}

/* SubPage - Hiring */
.hiring {
  font-family: "Source Sans Pro", sans-serif;
}

/* Hiring - Header */
.hiring__header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.hiring__header-inner {
  width: 95%;
  height: 90px;
  margin: auto;
  line-height: 90px;
  border-bottom: 1px solid #ddd;
}

.hiring__modal-display {
  font-size: 16px;
}

/* Hiring - Main */
.hiring__main {
  padding-top: 90px;
}

.hiring__heading {
  margin: 100px 0 120px;
  text-align: center;
}

.hiring__heading-sub {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.hiring__heading-sub::before,
.hiring__heading-sub::after {
  content: "";
  background-color: #000;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 2px;
  transform: translateY(-50%);
}

.hiring__heading-sub::before {
  left: -100%;
}

.hiring__heading-sub::after {
  right: -100%;
}

.hiring__title {
  margin-top: 40px;
  font-size: 100px;
  font-weight: 200;
}

.hiring__article {
  display: flex;
}

.hiring__area {
  width: 50%;
  height: 600px;
}

.hiring__text-area {
  display: flex;
  align-items: center;
}

.hiring__info {
  padding: 0 80px;
}

.hiring__info-title {
  font-size: 36px;
  font-weight: normal;
}

.hiring__info-desc {
  /* color: #555; */
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
}

.hiring__photo-area {
  overflow: hidden;
}

.hiring__photo {
  width: 100%;
}

.hiring__slogan {
  padding: 120px 0;
}

.hiring__slogan-text {
  position: relative;
  width: 70%;
  margin: auto;
  color: #888;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
}

.hiring__slogan-text::before {
  content: ",,";
  position: absolute;
  top: -82px;
  left: -50px;
  color: #ddd;
  font-family: 'Overpass', sans-serif;
  font-size: 200px;
  letter-spacing: -5px;
  transform: rotate(180deg);
}

.hiring__contact-info {
  display: flex;
  margin-top: 50px;
}

.hiring__contact {
  width: 50%;
  padding-left: 8px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8;
}

.hiring__info-city {
  font-weight: 500;
}

.hiring__info-email {
  column-rule: dodgerblue;
}

.hiring__sns-box {
  margin-top: 18px;
}

.hiring__link-sns {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 2px;
  color: #000;
  font-size: 15px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  transition: 0.3s;
}

.hiring__link-sns:hover {
  color: #fff;
}

.hiring__link-sns::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s;
  z-index: -1;
}

.hiring__link-facebook::before {
  background-color: #3b5999;
}

.hiring__link-twitter::before {
  background-color: #55acee;
}

.hiring__link-linkedin::before {
  background-color: #0077b5;
}

.hiring__link-insta::before {
  background-color: #e4405f;
}

.hiring__link-youtube::before {
  background-color: #cd201f;
}

.hiring__link-email::before {
  background-color: #25d366;
}

.hiring__link-sns:hover::before {
  transform: translate(-50%, -50%) scale(1);
}


/* 애니메이션 */
@keyframes slide-up {
  0% {
    opacity: 0;
    margin-top: 50px;
  }
  20%, 80% {
    opacity: 1;
    margin-top: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes overlay {
  0% {
    left: 0;
    width: 0;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes opacity-image {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes reveal {
  0%{
    width: 0;
  }
  100%{
    width: 100%;
  }
}